@import 'styles/main.scss';
.CurrentResult {
  display: flex;
  ul {
    list-style: none;
    text-align: left;
  }
  &__ResultContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    span {
      font: 1em sans-serif;
    }
  }
  &__Buttons{
    display: flex;
    justify-content: space-around;
  }
  &__Wide { 
    flex: 60%;
  }
  &__Narrow {
    flex: 40%;
  }
}